.navbar {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px #e5e5e5;
  padding: 0;
  font-size: 0.9rem;
  /* padding: 2rem 1rem; */
}

.navbar .container-fluid {
  background-color: #fff;
}

.navbar .navbar-brand {
  padding: 0;
  width: 5rem;
}

.navbar .navbar-brand > .logo {
  width: 100%;
}

.navbar .navbar-nav {
  padding-bottom: 1rem;
  /* margin-left: auto; */
  /* align-items: center; */
  /* gap: 1rem; */
  /* padding: 0.5rem 0; */
}

.navbar .text-link {
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid #ffffff00;
  padding-left: 1rem;
}

.navbar .button-link {
  padding: 0;
}

/* .navbar .text-link:hover {
  border: 2px solid green;
} */

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav {
    margin-left: auto;
    align-items: center;
    gap: 1rem;
    padding: 0;
    display: flex;
  }

  .navbar .container-fluid {
    max-width: 1440px;
    padding: 0;
  }
}