.volunteer {
  background-color: rgb(228, 238, 235);
}
.info img {
  object-position: center;
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: 2px solid rgb(228, 238, 23);
}

