@media screen and (max-width: 331px) and (min-width: 320px) {
    div.example {
      display: none;
    }
  }
  
  .headerbottom {
  font-weight: bold;
  background-color: rgba(250, 252, 251, 0.712);
  color: rgba(0, 104, 35, 0.712);
}


.head a {
  text-decoration: none !important;
}
/* 
.link-style::after{
color: red !important;
} */